/* Ensuring 0 margin and padding for entire document */
* {
  margin: 0;
  padding: 0;
}

/* ===========NAV BAR=========== */
nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

nav h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
  /* font-size: 40px; */
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin-top: 45px;
}

header {
  /* margin-top: 65px; */
  padding-top: 900px;
  padding-bottom: 15px;
  padding-left: 10%;
  text-align: left;
  /* background: #E27D60; */
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 763px) {
  header {
    padding-top: 400px;
  }
}

@media (max-width: 764px) and (max-width: 1700px) {
  header {
    padding-top: 500px;
  }
}


/* This is format for the paragraphs*/
.article {
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 50px;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  font-family: Cambria, "Times New Roman";
  display: block;
}

@media (max-width: 763px) {
  .article {
    /* background-color: blue; */
    padding: 40px 0px;
    width: 90%
  }
}

@media (min-width: 764px) and (max-width: 1700px) {
  .article {
    /* background-color: green; */
    padding: 40px 0px;
    width: 70%;
  }
}




/* ===========FOOTER=========== */
footer {
  /* height: 75px; */
  background-color: #041936;
  color: white;
  padding: 24px 18px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
