/* Ensuring 0 margin and padding for entire document */
* {
  margin: 0;
  padding: 0;
}

/* ===========NAV BAR=========== */
nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
}

/* Properties of the main body */
main {
  margin-top: 45px;
}

/* ===========MAIN HEADING BANNER=========== */
header {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  background: #E27D60;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  /* Adds animation to the header */
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {background-color: darkblue;}
  to {background-color: #E27D60;}
}

.clock-button {
  display: inline-flex;
  width: 225px;
  height: 75px;
  background: darkgrey;
  font-size: 24px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.clock-button:hover {
  background-color: turquoise;
}

/* ===========SOCIAL MEDIA=========== */
.social {
  background-color: #229466;
  text-align: center;
  padding: 45px 10px 75px 10px;
  font-family: Montserrat, sans-serif;
  /* color: white; */
}

.social h3 {
  padding-bottom: 40px;
  color: white;
  font-family: "Courier New", serif;
  font-size: 35px;
}

.social .social-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  background-color: #E8A87C;
  border-radius: 10px;
  border: 2px white solid;
  margin: 0px 20px;
  color: #093954;
}

.social .social-button img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.social a {
  text-decoration: none;
  color: inherit;
}

.social .social-button:hover {
  background-color: turquoise;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (max-width: 763px) {
  .social {
    padding: 45px 10px 45px 10px;
  }

  .social .social-button {
    margin-bottom: 30px;
  }
}

/* ===========WRITING SAMPLES=========== */
.writing {
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: #f2f2f2;
}

.writing h1 {
  display: block;
  color: #3868ab;
  text-transform: uppercase;
  padding: 35px 20px;
}

.writing .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 700px;
  background-color: #3868ab;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 75px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}

.writing .card a {
  color: inherit;
  text-decoration: none;
}

.writing .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.writing .container-card {
  padding: 20px 16px;
  /* height: 50px; */
}

@media screen and (max-width: 640px) {
  .writing .card {
    width: 85%;
    margin-bottom: 40px;
  }

  .writing h1 {
    padding: 15px 20px;
  }

}

@media (min-width: 641px) and (max-width: 1910px) {
  .writing .card {
    width: 525px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
  }

  .writing h1 {
    padding: 15px 20px;
  }

}


/* ==========Technical demos============= */
.technical-demos {
  background-color: #0202a6;
  /* padding-bottom: 25px; */
}

.technical-demos h3 {
  text-align: center;
  /* margin-bottom: -25px; */
  padding-top: 15px;
  color: white;
  font-size: 50px;
  letter-spacing: 4px;
  font-style: italic;
  font-weight: lighter;
}

.demo-container {
  /* background-color: green; */
  padding: 15px 0px 35px;
}

.demos {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* background-color: blue; */
  flex-wrap: wrap;
  /* margin: 50px 0px 0px; */
}

.demos img {
  width: 1080px;
  box-sizing: border-box;
  border: 8px solid #262626;
  border-radius: 4px;
  /* background-color: #262626; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.demos img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.demos span {
  text-align: center;
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 20px 10px;
  background-color: #cc0000;
  border-radius: 6px;
  color: white;
  font-family: "Courier New", serif;
  font-size: 30px;
}

@media screen and (max-width: 1280px) {
  .demos img {
    max-width: 100%;
    padding: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  }
}

/* VIDEO TESTING */
.video-test {
  height: 720px;
  color: white;
  background: url("images/0001-0100.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ===========FOOTER=========== */
footer {
  /* height: 75px; */
  background-color: #041936;
  color: white;
  padding: 24px 18px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
