* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

header {
  padding: 300px;
  text-align: center;
  background: darkblue;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}

.social {
  padding: 75px;
  color: white;
  background-color: #3c3e42;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.social li {
  background-color: #607fa1;
  /* border-radius: 3px; */
  border: 2px white solid;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 18px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.social h3 {
  margin-bottom: 50px;
}
