* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
  background-color: white;
}

nav h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
}

header {
  /* margin-top: 65px; */
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  background: #E27D60;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  /* Adds animation to the header */
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {background-color: darkblue;}
  to {background-color: #E27D60;}
}

.social {
  padding: 75px;
  color: white;
  background-color: #41B3A3;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.social h1 {
  margin-bottom: 50px;
  font-family: "Courier New", serif;
  font-weight: normal;
}

.social .social-buttons {
  background-color: #E8A87C;
  /* border-radius: 3px; */
  border-radius: 10px;
  border: 2px white solid;
  color: white;
  font-family: Montserrat, sans-serif;
  /* font-style: italic; */
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin: 18px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.social a {
  text-decoration: none;
}

.social .social-buttons:hover {
  background-color: turquoise;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.social .social-buttons li {
  display: inline-block;
  text-shadow: 1px 1px 1px #000000;

}

.social img {
  height: 18px;
  padding-right: 10px;
}

/* NEW AREA */
.writing {
  padding: 75px 25px;
  color: white;
  background-color: darkgrey;
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.writing h1 {
  font-family: Cambria, serif;
  /* font-weight: 100; */
  margin-bottom: 40px;
  /* left: 30%; */
  /* margin-left: 10%; */
}

.writing .card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  background-color: #22447a;
  margin: 50px;
  display: inline-block;
}

.writing .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.writing .container-card {
  padding: 20px 16px;
  /* height: 50px; */
}

@media (min-width: 601px) and (max-width: 1600px) {
  .writing .card {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .writing {
    background-color: blue;
    padding: 25px 0px;
  }

  .writing .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    background-color: #22447a;
    margin-bottom: 20px;
    display: inline-block;
  }

  .writing h1 {
    margin-top: 30px;
    margin-bottom: 5px;
  }

}
