/* Ensuring 0 margin and padding for entire document */
* {
  margin: 0;
  padding: 0;
}

/* ===========NAV BAR=========== */
nav {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

nav h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
}

/* Properties of the main body */
main {
  margin-top: 45px;
}

/* ===========MAIN HEADING BANNER=========== */
header {
  /* margin-top: 65px; */
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  background: #E27D60;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  /* Adds animation to the header */
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {background-color: darkblue;}
  to {background-color: #E27D60;}
}

/* ===========SOCIAL MEDIA=========== */
.social {
  padding: 75px;
  color: white;
  background-color: #359689;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.social h1 {
  margin-bottom: 50px;
  font-family: "Courier New", serif;
  font-weight: normal;
}

.social .social-buttons {
  background-color: #E8A87C;
  /* border-radius: 3px; */
  border-radius: 10px;
  border: 2px white solid;
  color: white;
  font-family: Montserrat, sans-serif;
  /* font-style: italic; */
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin: 18px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.social a {
  text-decoration: none;
}

.social .social-buttons:hover {
  background-color: turquoise;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.social .social-buttons li {
  display: inline-block;
  text-shadow: 1px 1px 1px #000000;

}

.social img {
  height: 18px;
  padding-right: 10px;
}


/* ===========WRITING SAMPLES=========== */
.writing {
  /* padding: 75px 25px; */
  color: white;
  background-color: #f0f0f0;
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.writing h1 {
  padding-top: 30px;
  text-transform: uppercase;
  font-family: Cambria, serif;
  /* margin-bottom: 40px; */
  color: #325d99;
}

.writing .card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  background-color: #325d99;
  margin: 50px;
  display: inline-block;
}

.writing .card a {
  color: inherit;
  text-decoration: none;
}

.writing .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.writing .container-card {
  padding: 20px 16px;
  /* height: 50px; */
}

/* Screen specific sizes */
@media (max-width: 763px) {
  .writing {
  }

  .writing .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    background-color: #22447a;
    margin: 0px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .writing h1 {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 764px) and (max-width: 1200px) {
  .writing .card {
    width: 45%;
    margin: 30px;
  }
}

@media (min-width: 1201px) and (max-width: 1700px) {
  .writing .card {
    width: 35%;
  }

  .writing h1 {
    padding-top: 60px;
  }
}

@media (min-width: 1701px) {

  .writing h1 {
    padding-top: 60px;
  }
}


/* ===========FOOTER=========== */
footer {
  /* height: 75px; */
  background-color: #041936;
  color: white;
  padding: 24px 18px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
