/* Ensuring 0 margin and padding for entire document */
* {
  margin: 0;
  padding: 0;
}

/* ===========NAV BAR=========== */
nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

nav h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px 0px;
}

.nav-links {
  display: flex;
  width: 30%;
  background-color: red;
  justify-content: space-around;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
} */

/* Properties of the main body */
main {
  margin-top: 45px;
}

/* ===========MAIN HEADING BANNER=========== */
header {
  /* margin-top: 65px; */
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  background: #E27D60;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  /* Adds animation to the header */
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {background-color: darkblue;}
  to {background-color: #E27D60;}
}

/* ===========SOCIAL MEDIA=========== */
.social {
  background-color: #229466;
  text-align: center;
  padding: 45px 10px 75px 10px;
  font-family: Montserrat, sans-serif;
  /* color: white; */
}

.social h3 {
  padding-bottom: 40px;
  color: white;
  font-family: "Courier New", serif;
  font-size: 35px;
}

.social .social-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  background-color: #E8A87C;
  border-radius: 10px;
  border: 2px white solid;
  margin: 0px 20px;
  color: #093954;
}

.social .social-button img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.social a {
  text-decoration: none;
  color: inherit;
}

.social .social-button:hover {
  background-color: turquoise;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (max-width: 763px) {
  .social {
    padding: 45px 10px 45px 10px;
  }

  .social .social-button {
    margin-bottom: 30px;
  }
}




/* ===========WRITING SAMPLES=========== */
.writing {
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: #ededed;
}

.writing h1 {
  display: block;
  color: black;
  /* margin: 15px 20px; */
  padding: 15px 20px;
}

.writing .card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 700px;
  background-color: #325d99;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  display: inline-flex;
  justify-content: space-between;
  color: white;
}

.writing .card a {
  color: inherit;
  text-decoration: none;
}

.writing .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.writing .container-card {
  padding: 20px 16px;
  /* height: 50px; */
}

@media screen and (max-width: 640px) {
  .writing .card {
    width: 85%;
    /* background-color: red; */
  }

}

@media (min-width: 641px) and (max-width: 1023px) {
  .writing .card {
    width: 525px;
    /* background-color: green; */
  }

}


/* ===========FOOTER=========== */
footer {
  /* height: 75px; */
  background-color: #041936;
  color: white;
  padding: 24px 18px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

footer a {
  color: inherit;
  text-decoration: none;
}
