* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
}

nav {
  padding: 20px;
  background-color: white;
}

nav h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: #41B3A3;
}

header {
  /* margin-top: 65px; */
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  background: #E27D60;
  color: white;
  font-size: 30px;
  font-family: Montserrat, sans-serif;

  /* Adds animation to the header */
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {background-color: darkblue;}
  to {background-color: #E27D60;}
}

.social {
  padding: 75px;
  color: white;
  background-color: #41B3A3;
  text-align: center;
  font-family: Montserrat, sans-serif;
  /* width: 100%; */
}

.social h1 {
  margin-bottom: 50px;
  font-family: "Courier New", serif;
  font-weight: normal;
}

.social .social-buttons {
  background-color: #E8A87C;
  /* border-radius: 3px; */
  border-radius: 10px;
  border: 2px white solid;
  color: white;
  font-family: Montserrat, sans-serif;
  /* font-style: italic; */
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  margin: 18px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

.social .social-buttons:hover {
  background-color: turquoise;
}

.social .social-buttons li {
  display: inline-block;
  text-shadow: 1px 1px 1px #000000;

}

.social img {
  height: 18px;
  padding-right: 10px;
}
